section.hero{
    margin-top: 3rem;
}

section.hero .parent-avatar.flex{
    align-items: end;
    gap: 0.6rem;
}


/* =============================
1. left section 
============================= */


section.hero .left-section{
    flex-grow: 1;
}

section.hero .icon-verified{
    color:var( --blue) ;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}




section.hero .avatar{
    width: 88px;
    border-radius: 50%;
  border: 1px solid rgb(134, 3, 71);
  padding: 5px;
  box-shadow: 2px 2px 40px gray inset;

}

section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}

section.hero p.sub-title{
    line-height: 1.65rem;
    color: var(--subtitle);
    font-size: 0.9rem;
   
    margin-bottom: 32px;
}

section.hero .all-icons{
    font-size: 1.3rem;
    gap: 1.5rem;
    color: var(--subtitle);
}
section.hero .icon:hover{
    font-size: 1.4rem;
    transition: .3s;
    cursor: pointer;
    color:var(--icon-hover) ;
}


.animation{
    width: 100%;
    translate: 100px 55px;
}
/* 
==================================
1. right-section ==>animation
================================== */
@media(max-width:1250px){

    .hero-animation{display: none;}
    
    
    
    }